@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Outfit', sans-serif;
    height: 100%;
    overscroll-behavior-y: none;
  }

  body {
    height: 100%;
    overscroll-behavior-y: none;
  }
}